body{
    background: linear-gradient(to right, blue, red);
}
th, td, p, input {
    font:14px Verdana;
}
table, th, td 
{
    border: solid 1px #DDD;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
    height: 20%;
}
table{
    position: absolute;
    align-self: center;
    max-width: 50%;
    left: 25%;
    top: 200px;
    background: rgba(0, 0, 0, 0.411);
    color: white;
}
th {
    font-weight:bold;
    background: rgba(0, 204, 255, 0.192);
}
.head{
    width: 100%;
    height: 100px; 
    color: white;
    font-weight: bolder;
    position: relative;
    text-align: center;
    line-height: 80px;
    font-size: 3rem;
    text-shadow: black;

}
li:hover{
    color: cornsilk;
    cursor: pointer;
}
li{
    list-style: none;
    color: rgb(249, 253, 24);
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: rgb(0, 204, 255);
}
ul{
    margin-top: 50px;
    width: 15%;
    
}


h1{
    text-align: center;
    color: white;
}